{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	<h1>S'inscrire</h1>

	{{ form_errors(registrationForm) }}
	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.nickname, {
        label: 'Pseudo','attr': {'class': 'form-control'}
    })}}
	{{ form_row(registrationForm.email,{
        'attr': {'class': 'form-control'}}) }}
	{{ form_row(registrationForm.plainPassword, {
        label: 'Password','attr': {'class': 'form-control'}
    })}}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn btn-primary">s'inscrire</button>
	{{ form_end(registrationForm) }}
{% endblock %}
